/* General Layout */
.ingredient-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
  }
  
  /* Category Cards */
  .category-card {
    width: 30%;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;
  }
  
  .category-card:hover {
    transform: translateY(-5px);
  }
  
  /* Category Header */
  .category-header {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .category-icon {
    font-size: 24px;
  }
  
  h3 {
    font-size: 20px;
    color: #333;
  }
  
  /* Ingredient Buttons */
  .ingredient-buttons {
    margin-top: 15px;
  }
  
  .ingredient-button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #fff;
    color: black;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    text-align: left;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
  }
  
  .ingredient-button:hover {
    background-color: #f0f0f0;
    transform: scale(1.05);
  }
  
  /* Categoría de Proteínas */
  .category-card:nth-child(1) {
    background-color: #ffcccb; 
  }
  
  /* Categoría de Carbohidratos */
  .category-card:nth-child(2) {
    background-color: #e0f7fa;  
  }
  
  /* Categoría de Vegetales */
  .category-card:nth-child(3) {
    background-color: #dcedc8; 
  }
  