.history-container {
  height: auto;
  text-align: center;
  padding: 20px;
  background-color: #f8f8f8;
  border-radius: 10px;
}

.recipe-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0;
  margin: 0;
  justify-content: center;
  align-items: center;
}

.recipe-name {
  font-size: 1.6rem;
  font-weight: 600;
  color: #4a4a4a;
  margin-bottom: 10px;
}

.recipe-card {
  background-color: #fff;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  padding: 20px;
  margin-bottom: 20px;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  cursor: pointer;
}

.recipe-card:hover {
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
  transform: translateY(-5px);
}

.history-container h2 {
  margin-bottom: 30px; 
}

.no-recipes-message {
  margin-top: 40px;  
  font-size: 1.2rem;
  color: #777;
}

.button-container {
  margin-top: 12px;
  text-align: right;
}

.delete-button {
  background-color: #e64b87;
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.delete-button:hover {
  background-color: #ff6b9a;
  transform: scale(1.05);
}

.error-message {
  color: #e64b87;
  font-weight: bold;
  font-size: 1.2rem;
}

.button-volver {
  margin-top: 30px;
  display: inline-block;
  font-size: 1.1rem;
  color: white;
  background-color: #ff5e9a;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.button-volver:hover {
  background-color: #e64b87;
  transform: scale(1.05);
}
